
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: Arial;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #252b72;
}

.container {
   width: 100%;
   max-width: 520px;
   padding: 20px;
}


.card {
   background: #e9d8ff;
   width: 100%;
   padding: 28px;
   border-radius: 12px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}


.card h1 {
   font-size: 28px;
   color: #111;
   margin-bottom: 6px;
}

.card p {
   color: #555;
   font-size: 14px;
   margin-bottom: 22px;
}


.formulario {
   display: flex;
   align-items: center;
   gap: 10px;
}


.formulario input {
   flex: 1;
   padding: 12px 14px;
   border: none;
   border-radius: 6px;
   background: #f5eaff;
   color: #222;
   font-size: 15px;
   outline: none;
   transition: 0.2s;
}
.formulario input:focus {
   box-shadow: 0 0 0 2px #5746d9;
}


button {
   border: none;
   padding: 12px 18px;
   border-radius: 6px;
   font-size: 14px;
   
}

.btn-consultar {
   background: #313acb;
   color: white;
}
.btn-consultar:hover {
   background: #252da8;
}


.btn-limpar {
   background: #65658b;
   color: white;
}
.btn-limpar:hover {
   background: #4f4f70;
}


.resultado {
   margin-top: 25px;
   padding: 15px 18px;
   border-left: 4px solid #3d2ed1;
   background:#252b72;
   border-radius: 5px;
}

.resultado p {
   margin: 5px 0;
   color: #ffffff;
   font-size: 14px;
}
.resultado strong {
   color: #ffffff;
}


@media (max-width: 600px) {
   .container {
       padding: 15px;
   }
   .card {
       padding: 22px;
   }
   .card h1 {
       font-size: 24px;
   }
   .formulario {
       flex-direction: column;
       align-items: stretch;
   }
   .formulario input,
   .formulario button {
       width: 100%;
   }
}



